.navbar-brand img {
  width: 100px;
}

#carousel {
  height: 80vh !important;
}

.img-small {
  width: 180px;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
}

.img-small:hover {
  transition: all 0.5s ease;
  width: 240px;
}

#container {
  display: inline-block;
  position: relative;
  width: 100%;
}
.img-crop {
  width: 100vw; /* width of container */
  height: 50vh; /* height of container */
  object-fit: cover;
  object-position: 0 -300px;
}

#container figcaption {
  position: absolute;
  text-align: center;
  top: 100px;
  left: 100px;
  font-size: 30px;
  color: white;
}

.img-crop1 {
  width: 100%; /* width of container */
  height: 40vh; /* height of container */
  object-fit: cover;
  object-position: 0 -450px;
}

.trail-image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('assets/img/trilha.jpg');
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ioga-image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('assets/img/treino-praia.jpg');
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 1024px) {
  .navbar-brand img {
    width: 100px;
  }

  #carousel {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
  }
  .img-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    padding: 40px 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .img-small:hover {
    transition: all 0.5s ease;
    width: 240px;
  }

  #container {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  .img-crop {
    width: 100vw; /* width of container */
    height: 50vh; /* height of container */
    object-fit: cover;
    object-position: 0 -300px;
  }

  #container figcaption {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 10px;
    left: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
  }

  .prices {
    display: flex;
    flex-direction: column;
  }
  .img-crop1 {
    width: 100%; /* width of container */
    height: 40vh; /* height of container */
    object-fit: cover;
    object-position: 0 -450px;
  }

  .trail-image {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('assets/img/trilha.jpg');
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .ioga-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('assets/img/treino-praia.jpg');
    width: 100%;
    height: 00px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .ioga-image-fig {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 30px;
  }
}
